<ion-view view-title="Disruptions">
  <ion-content>
    <ion-scroll direction="y">
      <ion-list>
        <ion-checkbox
          class="checkbox-dark"
          ng-repeat="item in disruptionModes"
          ng-model="item.checked"
          ng-checked="item.checked">
          {{item.name}}
        </ion-checkbox>
      </ion-list>
      <div class="row">
        <div class="col"></div>
        <div class="col col-80">
          <button ui-sref="disruptions_detail" class="button button-block button-outline button-dark">
            VIEW DETAILS
          </button>
        </div>
        <div class="col"></div>
      </div>
  </ion-scroll>
  </ion-content>
</ion-view>
